language: python
sudo: false
python:
  - "2.7"
  - "3.3"
  - "3.4"
install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == 2.* ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION scikit-learn matplotlib
  - source activate test-environment
  - pip install coveralls nose-cov
  - python setup.py install
  - python -c 'import scipy; print(scipy.__version__)'
script:
  - nosetests --with-cov --cov=graphs/ graphs/tests/ graphs/base/tests/ graphs/construction/tests/ graphs/generators/tests/ graphs/mixins/tests/
after_success: coveralls
